.edit {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.edit label {
  text-align: left;
  display: block;
}
.edit h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.edit input {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

  &:focus {
    outline: none;
    border: 1px solid #f1356d;
  }
}

.edit h4 {
  color: #f1356d;
}
.button-edit {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
}
